<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutstyle.css') }}">-->
  

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="loginstyle.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
    <title>GetADoc - Book a Doctor</title>
</head>
<body>
 <div class="row" style="background: antiquewhite; max-width:1230px;">
       <div class="col-md-3 mt-2 ml-4 mb-1 col-3"> <img src="{{url_for('static',filename='img/logo.png')}}" alt="Image" style="width: 80px;border-radius: 50%;"></div>
       <div class="col-sm-5 mt-3 ml-md-5 col-5" style="padding-left: 12%"><h1>GetADoc</h1></div>
 </div>
 <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: grey;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="{{url_for('home',id=id)}}" style="color: white;">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('about',id=id)}}" style="color: white;">About</a>
      </li>
      
        </ul>
    </div>
</nav>


  
    <center>
    <div class="container">
      <div class="row">
<div class="card mx-auto mt-3" style="max-width:500px; padding: 2%;">
   <article class="card-body mx-auto" style="max-width:500px;">
  <img class="card-img-top" src="{{url_for('static',filename='img/Patient2.png')}}" alt="Card image">
    <h4 class="card-title">Patient</h4>
   <a href="{{url_for('register',id=id)}}" > <button class="btn btn-primary"> Patient SignUp</button></a>
 </article>
</div>
  <br>
<div class="card mx-auto mt-3 mb-3" style="max-width:500px;">
  <article class="card-body mx-auto" style="max-width:500px;">
  <img class="card-img-top" src="{{url_for('static',filename='img/doctor1.jpeg')}}" alt="Card image">
    <h4 class="card-title">Doctor</h4>
   <a href="{{url_for('doctorform',id=id)}}" > <button class="btn btn-success">Doctor SignUp</button></a>
 </article>
  </div>
</div>
</div>
</center>
</body>
</html>