 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutstyle.css') }}">-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
 
    <title>GetADoc - Book a Doctor</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
   {% endif %}
   {% endwith %}
    <h1>hello Doctor!!</h1>
  <form action="",method="post">
        {{date}}


 <div class="container-fluid row ">
       <div class="col-md-3">
        
           <h4>FullName: {{appoints.fullname}}</h4>
           <h4>Age: {{appoints.age}}</h4>
            <h4>Choice: {{appoints.choice}}</h4>
        <h4>Phone: {{appoints.contact}}</h4>
        <h4>Address: {{appoints.address}}</h4>

        </div>
        <p>
            {{ form.date.label }}
            {{ form.date(size=32) }}
            {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p><br>
        <p>{{form.submit()}}</p>
        <a href="{{url_for('doctorpage',id=appoints.docid)}}"> <button type="submit" class="btn btn-success">Confirm appointment</button></a>

    </div>
</form>

</body>
</html>