 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutstyle.css') }}">-->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="loginstyle.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
 
    <title>GetADoc - Book a Doctor</title>
</head>
<body>
 <div class="row" style="background: antiquewhite; max-width:1230px;">
       <div class="col-md-3 mt-2 ml-4 mb-1 col-3"> <img src="{{url_for('static',filename='img/logo.png')}}" alt="Image" style="width: 80px;border-radius: 50%;"></div>
       <div class="col-sm-5 mt-3 ml-md-5 col-5" style="padding-left: 12%"><h1>GetADoc</h1></div>
 </div>

 <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: grey;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="{{url_for('home',id=id)}}" style="color: white;">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('about',id=id)}}" style="color: white;">About</a>
      </li>
      
        </ul>
        <form class="form-inline my-0  my-lg-0">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
     <li class="nav-item">
     <a  href="/logout"><button type="button" class="btn btn-secondary my-2 my-sm-0">Logout</button></a></li>
    </form>
    </div>
    </div>
</nav>



<div class="container-sm container-md "  style="padding-top: 6%;">
    <div class="card bg-light mx-auto" style="max-width: 800px;">
            <article class="card-body mx-auto" style="max-width:400px;">

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
   <span style="color: red; text-align: center;">{{ message }}</span>
    {% endfor %}
   {% endif %}
   {% endwith %}

        <h2 class="card-title mt-3 text-center">Confirm Appointment</h2>
        <hr>
           <h4>FullName: {{appoints.fullname}}</h4>
           <h4>Age: {{appoints.age}}</h4>
            <h4>Choice: {{appoints.choice}}</h4>
        <h4>Phone: {{appoints.contact}}</h4>
        <h4>Address: {{appoints.address}}</h4>


<form method="post" class="form-group">
    {{ form.hidden_tag() }}
         <p>
             {{form.time.label}}
             {{form.time(size=32)}}
             {% for error in form.time.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
         </p>
    
        <p>
            {{ form.date.label }}
            {{ form.date(size=32) }}
            {% for error in form.date.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p><br>
        <div class="container">
          <div class="row">
         <div class="col">
          <a href="{{url_for('doctorpage',id=appoints.docid)}}"><button class="btn btn-primary btn-block" type="button">Cancel</button></a></div>
          <div class="col">
          {{form.submit(class="btn btn-success btn-block")}}</div>
        </div>
      </div>
        
</form>
</article>
 </div>
 </div>       <!--<a href="{{url_for('doctorpage',id=appoints.docid)}}"> <button type="submit" class="btn btn-success">Confirm appointment</button></a>-->



</body>
</html>