<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="loginstyle.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
    <title>GetADoc - Book a Doctor</title>
</head>
<body>
  <div class="row " style="background: antiquewhite;">
       <div class="col-md-3 mt-2 ml-4 mb-1 col-3"> <img src="{{url_for('static',filename='img/logo.png')}}" alt="Image" style="width: 80px;border-radius: 50%;"></div>
       <div class="col-sm-5 mt-3 ml-md-5 col-5" style="padding-left: 12%"><h1>GetADoc</h1></div>
 </div>
 <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: grey;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="{{url_for('home',id=id)}}" style="color: white;">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('about',id=id)}}" style="color: white;">About</a>
      </li>
      
        </ul>
        <form class="form-inline my-0  my-lg-0">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
     <li class="nav-item">
     <a  href="/logout"><button type="button" class="btn btn-secondary my-2 my-sm-0">Logout</button></a></li>
    </form>
    </div>
</nav>

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
     {% if s==0 %}
     <div class="aler alert-danger" style="text-align: center;">
      {{ message }}
       </div>
      {% else %}
      <div class="alert alert-success"style="text-align: center;">
      {{message}}
      </div>
      {% endif %}
    {% endfor %}
   {% endif %}
   {% endwith %}
        {% if s== 0%}
 <center><span style="color: red"><h3>0 Result found</h3><span></center>
   {% else %}
   <center><span style="color: green"><h3>{{s}} Result found</h3><span></center>
   {% endif %}
<br>
        {% for a in appoints | reverse%}
{% if a.status=="pending" %}
   <div class="container-fluid row aler alert-warning mt-2 ml-sm-1">

       <div class="col-md-3">
        <i class="fa fa-exclamation-triangle " style="font-size:60px;"></i>
        
           <h4><b>FullName :</b> {{a.fullname}}</h4>
           <h4><b>Age :</b> {{a.age}}</h4>
            <h4><b>Choice :</b> {{a.choice}}</h4>
        <h4><b>Phone :</b> {{a.contact}}</h4>
        <h4><b>Address :</b> {{a.address}}</h4>
        </div>
        
         <div class=" container-fluid col-md-3">
            <br>
        <br>
        <br>
       <a href="{{url_for('confirmappointment',id=a.docid,pid=a.pid)}}"> <button type="submit" name="give" value="give" class="btn btn-success">Give appointment</button></a><br><br>
       <a href="{{url_for('reason',id=a.docid,pid=a.pid)}}"> <button type="submit" name="cancel" value="cancel" class="btn btn-danger">Cancel appointment</button></a>
       </div>
   </div>

   {% endif %}
   {% endfor %}

     {% for a in appoints | reverse %}
{% if a.status=="appointed" %}
   <div class="container-fluid row alert alert-success mt-2 ml-sm-1 ">
       <div class="col-md-3">

        <i class="fa fa-check-square-o" style="font-size:60px;"></i>
           <h4><b>FullName :</b> {{a.fullname}}</h4>
           <h4><b>Age :</b> {{a.age}}</h4>
            <h4><b>Choice :</b> {{a.choice}}</h4>
        <h4><b>Phone :</b> {{a.contact}}</h4>
        <h4><b>Address :</b> {{a.address}}</h4>
        </div>
        </div>

   {% endif %}
   {% endfor %}

   

     {% for a in appoints |reverse %}
{% if a.status=="cancelled" %}
   <div class="container-fluid row alert alert-danger mt-2 ml-sm-1">
       <div class="col-md-3 ">
        <i class="fa fa-times" style="font-size:60px;"></i>
           <h4><b>FullName :</b> {{a.fullname}}</h4>
           <h4><b>Age :</b> {{a.age}}</h4>
            <h4><b>Choice :</b> {{a.choice}}</h4>
        <h4><b>Phone :</b> {{a.contact}}</h4>
        <h4><b>Address :</b> {{a.address}}</h4>
        </div>
    </div>
   <br>

   {% endif %}
   {% endfor %}
   
</body>
</html>