<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="loginstyle.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>

   <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/registerstyle.css') }}">-->
    <title>GetADoc - Book a Doctor</title>
</head>
<body>
    <div class="row" style="background: antiquewhite; max-width:1230px;">
       <div class="col-md-3 mt-2 ml-4 mb-1 col-3"> <img src="{{url_for('static',filename='img/logo.png')}}" alt="Image" style="width: 80px;border-radius: 50%;"></div>
       <div class="col-sm-5 mt-3 ml-md-5 col-5" style="padding-left: 12%"><h1>GetADoc</h1></div>
 </div>
 <nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: grey;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="{{url_for('home',id=id)}}" style="color: white;">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('about',id=id)}}" style="color: white;">About</a>
      </li>
      
        </ul>
    </div>
</nav>

    
 <div class="container">
    <div class="card bg-light mx-auto mt-3 mb-3" style="max-width: 100%;">
            <article class="card-body mx-auto" style="max-width:100%;">
    <form action="" method="post">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
    {% for message in messages %}
     <span style="color: red;">{{ message }}</span>
    {% endfor %}
   {% endif %}
   {% endwith %}
        {{ form.hidden_tag() }}
        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <p class="text-center">Get started with your free account</p>
        <hr>


        <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user">
            </i> </span>
         </div>
            {{ form.fullname(size=40,class="form-control") }}<br>
        </div>
        <p>
            {% for error in form.fullname.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
         

           <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope">
            </i> </span>
         </div>
            {{ form.email(size=40,class="form-control") }}<br>
        </div>
        <p>
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        


        <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock">
            </i> </span>
         </div>
            {{ form.password(size=40,class="form-control") }}<br>
        </div>
        <p>
            {% for error in form.password.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        
           


           <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock">
            </i> </span>
         </div>
            {{ form.confirmpassword(size=40,class="form-control") }}<br>
        </div>
        <p>
            {% for error in form.confirmpassword.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        
           

           <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fas fa-city">
            </i> </span>
         </div>
            {{ form.city(size=40,class="form-control") }}<br>
            </div>
            <p>
            {% for error in form.city.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        
           

           <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-graduation-cap">
            </i> </span>
         </div>
            {{ form.qualifications(size=40,class="form-control") }}<br>
        </div>
        <p>
            {% for error in form.qualifications.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
          



          <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone">
            </i> </span>
         </div>
            {{ form.contact(size=40,class="form-control") }}<br>
        </div>
        <p>
            {% for error in form.contact.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        
                <div class="col">
            {{ form.doctortype(class="form-control")}}
             </div>
             {% if fl==1 %}
         <span style="color: red;">Please select any specialisation</span>
             {% endif %}
                   <br>

  <input type='checkbox'  name="Other" value="Other" data-toggle='collapse' data-target='#collapsediv2'>Other Specialisation</input>

<div id='collapsediv2' class='collapse div2'>
     <div class="home_visit selectt"> 
        <br>
         <p>
            {{ form.specialisation.label }}
            {{ form.specialisation(size=15,class="form-control") }}<br>
            {% if flag==1 %}
            <span style="color: red;">Please enter your specialisation</span>
            {% endif %}
            {% for error in form.specialisation.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
      </div>

</div>

            <br>
            {% for error in form.doctortype.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
         


         <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-address-card" style="font-size: 20px;">
            </i> </span>
         </div>
            {{ form.address(cols="25",rows="10",class="form-control") }}<br>
        </div>
        <p>
            {% for error in form.address.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
         



            {{ form.clinic_charges.label }}
            {{ form.clinic_charges(size=15,class="form-control") }}<br>
            {% for error in form.clinic_charges.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>

       
       <div>
  <input type='checkbox' name="Home_visit" value="Home_visit" data-toggle='collapse' data-target='#collapsediv1'>Home visit available 
  </input>
</div>
<div id='collapsediv1' class='collapse div1'>
     <div class="home_visit selectt"> 
        <br>
         <p>
            {{ form.home_charges.label }}
            {{ form.home_charges(size=15,class="form-control") }}<br>
            {{visit}}

             {% if visit==1 %}
            <span style="color: red;">Please enter your Home visit charges</span>
            {% endif %}
            {% for error in form.home_charges.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
      </div>

</div>
     











        <p>
         <!--   {{form.home_visit(value="home_visit")}} {{form.home_visit.label}}-->
        </p>
        <div class="home_visit selectt"> 
         <!--<p>
            {{ form.home_charges.label }}
            {{ form.home_charges(size=15) }}<br>
            {% for error in form.home_charges.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>-->
      </div>
        <p>{{ form.submit(class="btn btn-success btn-block") }}</p>
    
    <p class="text-center">Have an account?<a href="/login/0">Login here</a></ps>
</form>
</article>
</div>
</div>
</body>
</html>