<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">-->
    <title>GetADoc - Book a Doctor</title>
</head>
<body>
    {% if current_user.is_authenticated %}
    <h3>{{ current_user.username}}</h3>
    {% endif %}
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
     {{ message }}
    {% endfor %}
  {% endif %}
{% endwith %}

    <h1>Hello!! Welcome to GetADoc!!!</h1>
    
      <li><a href="/login">Login <span class="sr-only"></span></a></li>
      <li><a href="/choice">Sign up <span class="sr-only"></span></a></li>
</body>
</html>