<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="loginstyle.css">

    <title>GetADoc - Book a Doctor</title>
    <style>

        .form{
            border:1px solid white;
            background-color: white;
            
        }
        
        

    </style>
</head>
<body>
    
    {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }}
    {% endfor %}
   {% endif %}
   {% endwith %}
   <center>
<div class="container" style="padding-top: 4%;">
    <div class="card bg-light mx-auto" style="max-width: 500px;">
            <article class="card-body mx-auto" style="max-width:500px;">
    <form action="" method="post" class="form-group ">
        {{ form.hidden_tag() }}
        
         
       <!-- <div class="col-md-4 col-sm-6 form">-->
            <h2 style="color:blue;">Choose Account Type</h2>
         <div>
             {% for sub in form.choice %} 
                 &nbsp;
                 &nbsp;
                 &nbsp;
                 &nbsp;
                 

                 {{sub}}
                 {{sub.label}}
                &nbsp;
                &nbsp;
                 &nbsp;
                 &nbsp;
                 
             {% endfor %}
             <br>
              
             <div>
           
              <div class="row container">
                <div class="col-md-1 col-sm-1">
            
                </div>
    <div class="col-md-5  col">
<div class="card " style="width:80px;border-radius: 50%; margin-right: 30px;">
  <img class="card-img-top" src="{{url_for('static',filename='img/log2.jpeg')}}" alt="Card image" style="border-radius: 50%;">
  </div>
                
</div>

<div class="col-md-5 col">
<div class="card" style="width:80px ;border-radius: 50%; margin-left: 20px;">
  <img class="card-img-top" src="{{url_for('static',filename='img/log1.jpeg')}}" alt="Card image" style="border-radius: 50%;">
  </div>
</div>
</div>
                 
          {% for error in form.choice.errors %}
            <span style="color: red;">{{error}}</span>
        {% endfor %}

                <hr>
            <div class="email">
        <p>
            {{ form.email(size=32,class="form-control") }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </div>
  <div>
        <p>

            {{ form.password(size=32,class="form-control") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
    </div>
    
     <div class="form-check">
        <p>
            {{form.remember_me(class="form-check-input filled-in")}} {{form.remember_me.label}}
        </p>
    </div>
    <div class="row ">
    <div class="col-md-6 col">
        <a href="{{url_for('home',id=id)}}"><button type="button" class="btn btn-danger btn-lg btn-block">Cancel</button></a></div>
        <div class="col-md-6 col">
        <p>{{ form.submit(class="btn btn-primary btn-lg btn-block") }}</p>
    </div>
</div>
    
    </form>
</article>
</div>
</div>
</center>
</body>
</html>