<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--  <link rel="stylesheet" href="{{ url_for('static', filename='css/aboutstyle.css') }}">-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>GetADoc - Book a Doctor</title>
</head>
<body>

    <h1>Notifications</h1>
    {% for li in lis %}
       {% if li.status=="appointed"%}
      <div class="alert alert-success">
          Dr {{li.docname}} gave you an appointment Date : {{li.appointmentdate}} ,time {{li.appointmenttime}}
          Contact: {{li.contact}}, Address: {{li.address}}
      </div>
      {% endif %}
       {% if li.status=="cancelled"%}
      <div class="alert alert-danger">
          Dr {{li.docname}} cancelled your appointment
      </div>
      {% endif %}   

    {% endfor%}
</body>
</html>