<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/registerstyle.css') }}">-->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="loginstyle.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
    <title>GetADoc - Book a Doctor</title>
   
</head>
<body >
     <div class="row" style="background: antiquewhite; max-width:1230px;">
       <div class="col-md-3 mt-2 ml-4 mb-1 col-3"> <img src="{{url_for('static',filename='img/logo.png')}}" alt="Image" style="width: 80px;border-radius: 50%;"></div>
       <div class="col-sm-5 mt-3 ml-md-5 col-5" style="padding-left: 12%"><h1>GetADoc</h1></div>
 </div>
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: grey;">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" href="{{url_for('home',id=id)}}" style="color: white;">Home <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('about',id=id)}}" style="color: white;">About</a>
      </li>
      
        </ul>
    </div>
</nav>

    
<div class="container "  style="padding-top: 3%;">
    <div class="card bg-light mx-auto mb-4" style="max-width: 800px;">
            <article class="card-body mx-auto" style="max-width:400px;">
    <form action="" method="post"class="form-group">
        {% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <span style="color: red;padding-left: 25%;">{{ message }}</span>
    {% endfor %}
   {% endif %}
   {% endwith %}
        {{ form.hidden_tag() }}
        <!--<div class="col-md-5 col-sm-6 form">-->

        <h4 class="card-title mt-3 text-center">Create Account</h4>
        <p class="text-center">Get started with your free account</p>
        <hr>

        <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user">
            </i> </span>
         </div>
            {{ form.username(size=32,class="form-control") }}<br>
        </div>
    
            <p>
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
     
    <br>
         <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-envelope">
            </i> </span>
         </div>
            {{ form.email(size=32,class="form-control") }}<br>
             </div>
            <p>
            {% for error in form.email.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <br>
     
             <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock">
            </i> </span>
         </div>   
            {{ form.password(size=32,class="form-control") }}<br></div>
            {% for error in form.password.errors %}
            <p>
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
    <br>

     <div class="form-group input-group">
        <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-lock">
            </i> </span>
         </div>
            {{ form.confirmpassword(size=32,class="form-control") }}<br>
        </div>
            <p>
            {% for error in form.confirmpassword.errors %}
            <span style="color: red;"> {{ error }}</span>
            {% endfor %}
        </p>
        <br>

  <div>
        <p>{{ form.submit(class="btn btn-success btn-block") }}</p>
    </div>
    
    <p class="text-center">Have an account?<a href="/login/0">Log In</a></p>
    </form>
</article>
</div>
</div>
</body>
</html>